<mat-toolbar style="background-color: #3FB8DE;">
    <mat-toolbar-row class="py-2 d-flex justify-content-between">
        <img src="../../assets/images/tnhb_logo.png" alt="" style="object-fit: contain; width: 18rem;">

        <div>
            <button mat-button class="header-btn" aria-label="home" routerLink="/home"
                routerLinkActive="active">Home</button>
            <button mat-button class="header-btn" aria-label="new land" routerLink="/new-land"
                routerLinkActive="active">New Land</button>
            <button mat-button class="header-btn" aria-label="logout">Logout</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<section>
    <div class="header-image">
        <img src="../../../assets/images/header-img.jpg" alt="header image" class="img">
        <div class="overlay"></div>
        <h1 class="header-text">
            land
            alienation
        </h1>
    </div>
</section>